header {
  background: @primary-black;
  .flex-display();
  align-items: center;
}

.hero-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 7% 0;;

  h1 {
    .heading-1();
    color: @snow;
    line-height: 1.1;
    letter-spacing: 1.5px;
  }

  p {
    font-size: 2rem;
    line-height: 1.4;
    color: @snow;
    margin: 3% 0 8% 0;
    letter-spacing: 1px;
  }

  button {
    .button(2%, 5%, 1rem);
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 80px;
      background: @primary-green;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;

      transition: all .15s ease-in;
      z-index: -1;
    }

    &:before {
      content: ' \2192';
      font-size: 1rem;
      position: absolute;
      right: 30px;
      opacity: 0;
      transition: all .15s ease-in;
    }

    &:hover:before {
      opacity: 1;
      right: 5px;
    }

    &:hover:after {
      right: -20px;
      opacity: 1;
    }
  }
}