.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

.button(@padding-top-bottom, @padding-right-left, @font-size) {
	padding: @padding-top-bottom @padding-right-left;
	border-radius: 100px;
	border: none;
	font-size: @font-size;
	text-transform: uppercase;
	font-weight: 700;
	background: @primary-green;
	color: @snow;
	letter-spacing: 1px;
	cursor: pointer;
}