.reviews {
  width: 60%;
  margin: 0 auto;
  margin-top: 8%;
}

.reviews-wrapper {
    .flex-display();
    justify-content: flex-start;
    align-items: center;

  h2 {
    font-size: 3.4rem;
    font-weight: 600;
  }

  p {
    font-size: 1.4rem;
    margin-top: 2%;
    line-height: 1.5;
    width: 60%;
  }

  button {
    .button(2%, 5%, 1rem);
    margin-top: 5%;
  }
}