.top-playlists {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}

.top-playlists-wrapper {

  h2 {
    font-size: 3.4rem;
    font-weight: 600;
  }

  p {
    font-size: 1.4rem;
    margin-top: 2%;
    line-height: 1.5;
    width: 60%;
  }

  .playlists {
    margin-top: 5%;
    .flex-display();
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .playlist {
      margin-top: 3%;
      width: 21%;

      .playlist-box {
        height: 210px;
        background: #EEEEEE;
        border-radius: 8px;
      }

      a {
        display: block;
        margin: 5% 0 0 5%;
        color: @primary-black;
        font-size: 1.2rem;
      }
    }
  }
}




