.top-playlists {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}

.top-playlists-wrapper {

  h2 {
    .heading-2();
  }

  p {
    .paragraph();
    margin-top: 2%;
  }

  .playlists {
    margin-top: 5%;
    .flex-display();
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .playlist {
      margin-top: 3%;
      width: 21%;

      .playlist-box {
        height: 210px;
        background: @dusty;
        border-radius: 8px;
      }

      a {
        display: block;
        margin: 5% 0 0 5%;
        color: @primary-black;
        font-size: 1.2rem;
      }
    }
  }
}




